p{
color: red;
    font-family: cursive;
    padding-left: 40px;
    padding-top: 300px;
    
}
h1{
    background-color: pink;
    font-family: sans-serif;
    padding-top: 40px;
    padding-left: 550px;
    
}
img{
    
   padding-left: 950px;
}
#button{
    background-color: yellow;
    
    color: white;
     
    position: relative;
    left: 50%;
    bottom: 80px;
}